@font-face {
    font-family: 'San Francisco';
    src: url('path/to/SanFrancisco-Regular.woff2') format('woff2'),
         url('path/to/SanFrancisco-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    font-family:'San Francisco', sans-serif;
    background-color: #d7ea0d; /*  background */
    color: #333; /* text color */
    
}

.navbar {
    background-color: #000; /* navbar background */
    padding: 10px 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: #ff0; /* text color of navbar */
    text-decoration: none;
    padding: 10px 20px;
}

.navbar ul li a.active {
    background-color: rgb(133, 133, 63); /* backgrounf for active link */
}

.content {
    font-weight: bold;
    padding: 50px;
    

    text-align: center;
}

.profile-image {
    width: 200px; 
    height: auto; /* automatically adjust height to maintain aspect ratio */
    display: block; 
    margin: 0 auto 20px; }

form {
            background-color: #000; 
            color: #fff; 
            padding: 20px;
            border-radius: 8px;
            width: 80%;
            margin: 0 auto;
 }
        
        input[type="text"],
        input[type="tel"],
        input[type="email"],
       
        textarea {
            background-color: #333; /* background for text area */
            color: #fff; 
            padding: 8px;
            border: 1px solid #666; 
            border-radius: 4px;
            width: 70%;
            margin-bottom: 10px;
            box-sizing: border-box; 
        }

        input[type="number"] {

            background-color: #333; /* dark gray */
            color: #fff; 
            padding: 8px;
            border: 1px solid #666; 
            border-radius: 4px;
            width: 100px;
            margin-bottom: 10px;
            box-sizing: border-box; 
        }
        button 
        {
            background-color: #333;
            color: #fff;

        }
        input[type="submit"] {
            background-color: #007bff; 
            color: #fff; 
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        
        input[type="submit"]:hover {
            background-color: #0056b3; 
        }